Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
SetEnv APPLICATION_ENV 'development'
SetEnv CI_ENV 'development'
<IfModule mod_headers.c>
Header set Access-Control-Allow-Origin "*"
</IfModule>

<IfModule rewrite_module>
  RewriteEngine On
  RewriteRule ^debugbar/(.*) ../vendor/maximebf/debugbar/src/DebugBar/Resources/$1 [NC,L]
</IfModule>